#agenda-cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80dvw;
    gap: 20px;
    max-height: 900px;
    overflow-x: auto;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}


h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 15px;
    width: 260px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.card strong {
    font-size: 16px;
    color: #2c3e50;
}

.card p {
    margin: 5px 0;
}

.card button {
    margin-top: 10px;
    padding: 6px 18px;
    background: #8335f9;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#modalDetail {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    background: white;
    border: 2px solid #333;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#modalDetail iframe {
    width: 100%;
    height: 90%;
    border: none;
}

#closeModal {
    color: white;
    background-color: red;
    float: right;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0 0 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.buttons__sec{
    display: flex;
    width: max-content;
    margin: auto;
    height: max-content;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px;
}

.buttons__page{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 25px;
    width: 40px;
    min-width: 0;
    border-radius: 10px;
    border: 0px solid #c8c8c8;
    margin: 0 7px 0 7px;
    min-height: 0;
    background-color: #fff;
}

.arrows{
    font-weight: 600;
    display: none;
}