html{
    min-height: 100vh;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 'roboto';
    box-sizing: border-box;
    background-color: #FFF;
    color: #000;
    min-height: 100vh;
    overflow-x: hidden;
}

.options{
    flex-direction: row;
    min-height: 0;
    height: 80px;
    display: flex;
    width: 100%;
    min-width: 0;
    background-color: #ece9fc;
}

.nav-options{
    min-width: 0;
    border-bottom: 1px #000 solid;
    flex-grow: 2;
    width: 50%;
    min-width: 0;
}

.ul-options{
    /*relative para poder hacer que el absolute se adapte al flex*/
    position: relative;
    border: 0 0 1px 0 #000 solid;
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#li-options0{
    text-align: center;
}

.li-options{
    position: relative;
    text-align: center !important;
    padding: 0 20px 0 5px;
    font-weight: 500;
    font-size: clamp(10px, 1vw + .5rem, 19px);
    margin: 0 1% 0 1%;
    list-style: none;
}

.img-header-container{
    width: 10%;
    min-width: 100px;
    z-index: 2;
}

.img-header-container img{
    height: 56%;
    min-height: 40px;
    margin: 20px 20% 0 20%;
    display: block;
    max-width: 60%;
    width: 100px;
}

.boton-container{
    min-width: 0;
    width: 35%;
    display: flex;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
}

.button-header{
    border-radius: 10px;
    padding: 8px;
    background-color: #000;
    color: #FFF;
    font-weight: 600;
    height: max-content;
    font-size: clamp(5px, 1vw + .3rem, 16px);
    max-width: 100%;
    width: 150px;
    margin: 0 20px 0 10px;
}

.div-options{
    position: relative;
    text-align: center !important;
    color: #000;
    margin: 20px;
    overflow: hidden;
}

#li-more{
    position: relative;
    display: none  !important;
    cursor: pointer;
}

.li-container{
    /*absolute para podre abrirse solo desde arriba*/
    position: absolute;
    padding: 0;
    min-width: 0;
    background-color: #FFF;
    display : flex;
    flex-direction: column;
    z-index: 1;
    top: 81px;
    height: 0px;
    transition: height .8s ease, border .4s ease;
    border: 0;
    transform: translateX(400px);
}

.li-container.active{
    height: 60px;
    border: 2px #000 solid;
}

#click-counter{
    display: none;
}

@media (max-width : 840px){

    .li-options{
        margin: 0 10px 0 5px;
        font-size: clamp(10px, 1vw + .6rem, 16px);
        padding: 0;
    }

    .options{
        height: 60px;
    }

    .img-header-container{
        height: 60px;
    }
    .img-header-container img{
        height: 80%;
        margin: 7% auto 0 auto;
    }

    .ul-options{
        justify-content: space-evenly;
        align-content: center;
    }

    .div-options{
        margin: 10px;
    }

    .li-container{
        top: 60px !important;
        transform: translateX(200px);
    }
    .li-container.active{
        height: 90px;
    }
}

.responsive-button{
    display: none;
}

.responsive-menu{
    display: none;
}

@media (max-width : 640px){

    html{
        overflow-x: hidden !important;
    }

    .nav-options{
        display: none;
    }
    .boton-container{
        display: none;
    }
    .options{
        justify-content: space-between;
    }
    .responsive-button{
        text-align: right !important;
        display: block !important;
        margin: auto auto auto 0;
        cursor: pointer;
        height: 40px;
        border: 0;
        width: 40px;
        min-width: 0;
        background: url('img/icon.png');
        padding-right: 7px;
        background-size: contain;
        position: relative;
        left: 100%;
    }

    .responsive-menu{
        z-index: 1;
        background-color: antiquewhite;
        height: 110dvh;
        width: 270px;
        min-width: 0;
        box-shadow: 3px 1px 6px 1px #000;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        position: relative;
        transform: translateX(1);
        transition: width 1s ease;
    }
    .responsive-menu.acti{
        width: 0;
    }
    
    .button-close-menu{
        width: 60px;
        margin-left: auto;
        margin-right: 4%;
        border: none;
        height: 60px;
        cursor: pointer;
        background: url('img/close.png');
        background-size: contain;
    }

    .responsive-structure{
        display: block;
    }

    .ul-structure{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 0;
        position: relative;
        width: fit-content;
        list-style: none;
        text-align: center;
        padding-left: 6%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .li-options-responsive{
        width: max-content;
        min-width: 0;
        font-size: clamp(3px, 2vw + .67rem, 30px);
        font-weight: 600;
        padding: 20px 0 20px 0px;
    }

    .button-container-responsive{
        border-top: 2px #000 solid;
        display: flex;
        flex-direction: column;
    }

    .button-header-responsive{
        height: max-content;
        width: max-content;
        position: relative;
        padding: 6px;
        background-color: #000;
        border-radius: 10px;
        color: #FFF;
        font-weight: 700;
        left: 14px;
        margin: 30px 0 2px 0;
    }
}

h2{
    text-align: center;
    padding: 10px;
    font-weight: 500;
}