html{
    min-height: 100%;
}

body{
    color: #fff;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 'roboto';
    font-size: clamp(8px, 1vw + .4rem, 15px);
    max-height: 100dvh;
}

.form__sign{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    position: relative;
    height: 610px;
    margin: 4% auto 4% auto;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 6px #563939;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 700px;
    max-width: 100%;
    min-width: 0;
    min-height: 90%;
}

.fieldset__h2{
    margin: 0 !important;
    display: flex;
    align-content: center !important;
    border: 0px !important;
    padding: 20px !important;
    font-weight: lighter;
    text-align: left;
    font-size: clamp(13px, 1vw + .8rem, 24px) !important;
}

.form__fieldset{
    padding-top: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    margin: 10px 0 10px 0px;
    min-height: fit-content;
    border: 0px;
}

.input__text{
    color: #fff;
    background-color:rgb(0, 0, 0); 
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    width: 80%;
    max-height: 60%;
    height: 60%;
    min-width: 0;
    max-width: 80%;
}

.input__text:hover{
    border: 1px #ffffff solid;
}

.fieldset__data{
    width: 80%;
    max-width: 80%;
    padding: 10px;
    margin: auto;
    color: rgb(100, 99, 99);
    text-align: justify;
}

.form__submit{
    margin-top: 10px !important;
}

.input__submit{
    border: 0px #000 solid;
    border-radius: 10px;
    font-weight: 100;
    color: #fff;
    background-color: rgb(2, 2, 35);
    font-size: clamp(12px, 1vw + .5rem, 19px);
    height: 35px;
    width: 30%;
    margin: auto;
    text-align: center;
    cursor: pointer;
}